{% load static %}
<!-- Footer Start -->
<footer id="footer" class="footer-style-2">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
               
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2022 yumzyFood. All Rights Reserved. Developed By <a href="#">sreerang.k</a>
                                <p class="col-md-6">email<a href="#">sreerangk77@gmail.com</a></p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.cs-copyright -->
</footer>
<!-- Footer End -->
</div>

	
	<!-- Modal Popup End -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>