{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Main Section Start -->
<div class="main-section">
	<!-- Home Pages Elements Strat -->
	<!-- Main Search Start -->

	<div class="page-section nopadding cs-nomargin main-search-bar" style="padding-top: 200px; padding-bottom: 150px; margin-bottom: 0px; background:url(https://cdn.pixabay.com/photo/2022/04/30/19/12/cooking-banner-7166200__340.jpg)  no-repeat center / cover;" >
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title">
						<h1 style="font-size: 40px; color: #505050; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
							Pickup or delivery from restaurants near you<br>our restaurants do</h1>
						<p style="font-size: 18px; letter-spacing: 1px; color: #505050; text-align:center;">
							Explore restaurants that deliver near you, or try yummy takeout fare.</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="main-search fancy ">
						<form action="{% url 'search' %}" method="GET">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
									<div class="field-holder">
										<input type="text" name="keyword" placeholder="Resturant name or food name">
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
									<div class="field-holder">
										<ul>
											<li class="select-location">
												<div class="foodbakery-locations-fields-group foodbakery-focus-out">
													<span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
													
													<input type="text" name="address" class="location-field-text filter" id="id_address" required placeholder="All Locations">
													<input type="hidden" name="lat" value="" id="id_latitude">
													<input type="hidden" name="lng" value="" id="id_longitude">
												</div>
												
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
									<select name="radius" id="radius" style="height: 50px;" required>
										<option value="" selected>Choose Radius</option>
										<option value="5">5km</option>
										<option value="10">10km</option>
										<option value="15">15km</option>
										<option value="25">25km</option>
										<option value="30">30km</option>
										<option value="35">35km</option>
										<option value="100">40km</option>
									</select>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
									<div class="field-holder">
										<input type="submit" value="Find Food">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Main Search End -->
	
	<!-- Top Restarurants Section Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 100px;padding-bottom: 100px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-left">
						<h2>Top Restaurants</h2>
						<p>Explore restaurants, bars, and cafés by locality</p><br>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 0 !important; padding-left: 0 !important; ">
					<div class="company-logo">
						<ul>
							{% for vendor in vendors %}
							<li class="has-border">
								<figure>
									{% if vendor.user_profile.profile_picture %}
									<a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{{ vendor.user_profile.profile_picture.url }}" height="125" class="attachment-full size-full wp-post-image" alt=""></a>
									{% else %}
									<a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{% static 'images/default-profile.png' %}" height="125" class="attachment-full size-full wp-post-image" alt=""></a>
									{% endif %}
								</figure>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Restarurants Section End -->
	<section class="overflow-hidden" id="home" style="background-color:black">
        <div class="container">
          
            <div class="col-md-5 col-lg-6  mt-5 ">
				<a class="img-landing-banner" href="#!">
					<img class="img-fluid " src="{% static '/images/hero-header-1.png' %}" alt="hero-header" />
				</a>
			</div>
            <div class="col-md-7 col-lg-6 text-md-start text-center py-5">
              <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 mt-5 text-light">Are you starving?</h1>
              <h1 class="text-800 mb-5 fs-4  text-danger">Within a few clicks, find meals that<br class="d-none d-xxl-block" />are accessible near you</h1>
           
			  <div class="main-location ">
				<ul>
					<li class="location-has-children choose-location">
						<form action="#">
							<input type="text" value="" name="location" id="location" placeholder="Your current location" autocomplete="off">
							<span id="foodbakery_radius_location_open" class="foodbakery-radius-location" onclick="getLocation()"><i class="icon-target5"></i></span>
						</form>
						
					</li>
				</ul>
			</div>
          </div>
        </div>
      </section>
	<!-- Choose From Most Popular Listin Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-center">
						<h2>Choose From Most Popular Restaurants</h2>
						<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="listing fancy">
						<ul class="row">
							{% for vendor in vendors %}
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure>
											<a href="{% url 'vendor_detail' vendor.vendor_slug %}">
												{% if vendor.user_profile.profile_picture %}
												<img src="{{ vendor.user_profile.profile_picture.url }}" class="img-thumb wp-post-image" alt="">
												{% else %}
												<img src="{% static 'images/default-profile.png' %}" class="img-thumb wp-post-image" alt="">
												{% endif %}
											</a>
										</figure>
										{% if vendor.is_open %}
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
										{% else %}
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
										{% endif %}

									</div>
									<div class="text-holder">
										
										<div class="post-title">
											<h5>
												<a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{ vendor }}</a>
											</h5>
										</div>
										
									
									

										
										{% if vendor.user_profile.city and vendor.user_profile.state and vendor.user_profile.pin_code %}
										<span>{{ vendor.user_profile.city }}, {{ vendor.user_profile.state }}, {{ vendor.user_profile.pin_code }}</span>
										{% endif %}

										{% if vendor.kms < 40 %}
											<br>
											<span><small><b>{{vendor.kms}} km </b>away</small></span>
											<span style="color:rgb(13, 195, 23) ;"> Delivery is available in your location</span>
										{% endif %}
										{% if vendor.kms > 40 %}
										<br>
										<span style="color:red ;width:20px;" ><small><b>{{vendor.kms}} km </b>away. Sorry currently delivery is not available in your location</small></span>
										{% endif %}
									</div>
									<div class="list-option">
										<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
											<i class="icon-heart-o"></i>
										</a>
									</div>
								</div>
							</li>
							{% endfor %}
			
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Choose From Most Popular Listing End -->

	<!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->
<script>
    var x = document.getElementById("location");
    var current_location = sessionStorage.getItem("current_location")
    if(current_location != ""){
        x.value = current_location;
    }
    
    function getLocation() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    function showPosition(position) {
        var lat = position.coords.latitude
        var lng = position.coords.longitude

        // var lat = '19.0713949'
        // var lng = '72.9984126'

        // hit AJAX request to googlemaps api endpoint and get the location data using those lat and lng
        var GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}"
        var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"+&key="+GOOGLE_API_KEY
        
        $.ajax({
            url: url,
            type: "GET",
            success: function(response){
                var current_location = response.results[0].formatted_address
                x.value = current_location
                sessionStorage.setItem("current_location", current_location)
                window.location = '?lat='+lat+'&lng='+lng
            }
        })
    }
    </script>
{% endblock %}